In [ ]:
import pandas as pd
import kagglehub
path = kagglehub.dataset_download("prachi13/customer-analytics")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/customer-analytics

In [ ]:

import kagglehub
from kagglehub import KaggleDatasetAdapter

a= kagglehub.dataset_load(
    KaggleDatasetAdapter.PANDAS,
    "prachi13/customer-analytics",
    "Train.csv",
)
print(a.head())

   ID Warehouse_block Mode_of_Shipment  Customer_care_calls  Customer_rating  \
0   1               D           Flight                    4                2
1   2               F           Flight                    4                5
2   3               A           Flight                    2                2
3   4               B           Flight                    3                3
4   5               C           Flight                    2                2

   Cost_of_the_Product  Prior_purchases Product_importance Gender  \
0                  177                3                low      F
1                  216                2                low      M
2                  183                4                low      M
3                  176                4             medium      M
4                  184                3             medium      F

   Discount_offered  Weight_in_gms  Reached.on.Time_Y.N
0                44           1233                    1
1                59           3088                    1
2                48           3374                    1
3                10           1177                    1
4                46           2484                    1

In [ ]:
on_time_rates = a.groupby('Mode_of_Shipment')['Reached.on.Time_Y.N'].mean().sort_values(ascending=False)
print(on_time_rates)

Mode_of_Shipment
Flight    0.601576
Ship      0.597561
Road      0.588068
Name: Reached.on.Time_Y.N, dtype: float64

In [ ]:
rating_vs_calls = a.groupby('Customer_care_calls')['Customer_rating'].mean()
print(rating_vs_calls)

Customer_care_calls
2    3.017241
3    2.959901
4    2.998032
5    2.972938
6    3.083909
7    2.995935
Name: Customer_rating, dtype: float64

In [ ]:
correlation = a['Weight_in_gms'].corr(a['Discount_offered'])
print(f"Correlation between Weight and Discount: {correlation}")

Correlation between Weight and Discount: -0.37606671513805257

In [ ]:
late_shipment_rate = 1 - a.groupby('Warehouse_block')['Reached.on.Time_Y.N'].mean()
print(late_shipment_rate.sort_values(ascending=False))

Warehouse_block
A    0.413530
C    0.403164
D    0.402399
F    0.401528
B    0.397709
Name: Reached.on.Time_Y.N, dtype: float64

In [ ]:
a['High_Discount'] = a['Discount_offered'] > 10

discount_effect = a.groupby('High_Discount')['Reached.on.Time_Y.N'].mean()
print(discount_effect)

High_Discount
False    0.46887
True     1.00000
Name: Reached.on.Time_Y.N, dtype: float64

In [ ]:
loyalty_service_level = a.groupby('Prior_purchases')['Reached.on.Time_Y.N'].mean().sort_index()
print(loyalty_service_level)

Prior_purchases
2     0.625240
3     0.640708
4     0.543387
5     0.498834
6     0.559715
7     0.676471
8     0.648438
10    0.573034
Name: Reached.on.Time_Y.N, dtype: float64

In [ ]:
p = a.groupby('Gender').agg(
    Average_Cost=('Cost_of_the_Product', 'mean'),
    Average_Discount=('Discount_offered', 'mean')
)
print(p)

        Average_Cost  Average_Discount
Gender
F         209.255005         13.562489
M         211.154382         13.180785

In [ ]:
s = [0, 2000, 5000, float('inf')]
l = ['Light (<2kg)', 'Medium (2-5kg)', 'Heavy (>5kg)']
a['Weight_Category'] = pd.cut(a['Weight_in_gms'], bins=s, labels=l, right=False)

w= a.groupby('Weight_Category')['Reached.on.Time_Y.N'].mean()
print(w)

Weight_Category
Light (<2kg)      0.677877
Medium (2-5kg)    0.643709
Heavy (>5kg)      0.426745
Name: Reached.on.Time_Y.N, dtype: float64

/tmp/ipython-input-1460555506.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  w= a.groupby('Weight_Category')['Reached.on.Time_Y.N'].mean()

In [ ]:
a['Cost_Quartile'] = pd.qcut(a['Cost_of_the_Product'], q=4, labels=['Q1_Lowest', 'Q2', 'Q3', 'Q4_Highest'])

value_priority = a.groupby('Cost_Quartile')['Reached.on.Time_Y.N'].mean()
print(value_priority)

Cost_Quartile
Q1_Lowest     0.643402
Q2            0.611534
Q3            0.575465
Q4_Highest    0.555844
Name: Reached.on.Time_Y.N, dtype: float64

/tmp/ipython-input-605818425.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  value_priority = a.groupby('Cost_Quartile')['Reached.on.Time_Y.N'].mean()

Average customer rating per

In [ ]:
a.groupby(['Warehouse_block', 'Mode_of_Shipment'])['Cost_of_the_Product'].mean()

Warehouse_block  Mode_of_Shipment
A                Flight              210.037037
                 Road                207.268707
                 Ship                208.818841
B                Flight              210.945946
                 Road                213.312925
                 Ship                212.175382
C                Flight              210.532203
                 Road                210.938776
                 Ship                211.407556
D                Flight              210.703704
                 Road                209.116438
                 Ship                211.376707
F                Flight              206.809122
                 Road                211.105802
                 Ship                209.139068
Name: Cost_of_the_Product, dtype: float64

In [ ]:
a["Reached.on.Time_Y.N"].value_counts()

Reached.on.Time_Y.N
1    6563
0    4436
Name: count, dtype: int64

In [ ]:
a.nlargest(5,"Weight_in_gms").head(5)["ID"]

199    200
245    246
198    199
205    206
213    214
Name: ID, dtype: int64

In [ ]:
a.groupby("Product_importance").size()
a['Product_importance'].value_counts()

Product_importance
low       5297
medium    4754
high       948
Name: count, dtype: int64

In [ ]:
A=a.groupby("Gender")['Discount_offered'].mean()
A.sort_values(ascending=False).head(1)

Gender
F    13.562489
Name: Discount_offered, dtype: float64

In [ ]:
b=a.groupby(['Product_importance','Warehouse_block'])['Cost_of_the_Product'].mean()
print(b)

Product_importance  Warehouse_block
high                A                  204.357576
                    B                  199.390411
                    C                  198.803571
                    D                  212.222892
                    F                  204.000000
low                 A                  209.801980
                    B                  214.409357
                    C                  214.636156
                    D                  211.915062
                    F                  210.888514
medium              A                  208.487484
                    B                  212.087740
                    C                  210.016435
                    D                  209.496815
                    F                  208.019534
Name: Cost_of_the_Product, dtype: float64

In [ ]:
a.groupby('Customer_rating')['Reached.on.Time_Y.N'].mean()*10000

Customer_rating
1    5874.720358
2    5879.907621
3    6060.741402
4    5952.489721
5    6066.328881
Name: Reached.on.Time_Y.N, dtype: float64